.success, .error {
    color: white;
    margin: 5px 0 15px 0;
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.submit-btn {
    margin-top: 10px;
}